@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Schadow BT Roman';
    src: url('../fonts/schadow-bt-3.woff2') format('woff2'),
         url('../fonts/schadow-bt-3.woff') format('woff');
    font-weight: roman;
    font-style: normal;
  }
  

  .font-schadow{
    font-family: 'Schadow BT';
  }
  .font-merriweather{
    font-family: 'Merriweather', serif;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  
  @keyframes slide-in-from-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .animate-slide-left {
    animation: slide-in-from-right 1s ease-in-out;
  }
  @keyframes slide-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .animate-slide-right {
    animation: slide-in-from-left 2s ease-in-out;
  }
  
  .font-clash {
    font-family: 'Clash Display', sans-serif;
  }
  
  